@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
audio:not([controls]) {
  display: none !important;
}
body {
  font-family: "Silkscreen", sans-serif;
  font-style: normal;
  /* user-select: none; */
}
.card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  
  /* App.css */
  .menu {
    background-color: #333;
    height: 18rem;
    width: 15rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.4s ease;
    animation: change-shadow 3s infinite alternate;
    padding: 15px;
    border-radius: 20px;
  }
  @keyframes change-shadow {
    0% {
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }
    50% {
      box-shadow: 8px 8px 80px rgb(255, 0, 0);
    }
    100% {
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    }
  }
  
  .menu ul {
    list-style-type: none;
    margin: 1rem;
    padding: 0;
    display: grid;
  }
  
  .imput__home{
    display: inline;
    margin-bottom: 20px;
    background: brown;
    padding: 15px;
    margin-top: 12px;
    cursor: pointer;
    box-shadow: 4px 4px 8px rgb(0 0 0);
  }
  .imput__home2{
    display: inline;
    margin-bottom: 4px;
    background: brown;
    padding: 15px;
    cursor: pointer;
    box-shadow: 4px 4px 8px rgb(0 0 0);
  }
  
  button:hover{
    transform: scale(1.1);
  }

  input:hover{
    transform: scale(1.1);
  }
  
  .menu ul li a {
    color: white;
    text-decoration: none;
  }
  
  .title__menu {
    font-size: 25px;
    margin: auto;
    background: #1a2025e6;
    padding: 6px;
    box-shadow: 4px 4px 8px rgb(0 0 0);
    text-align: center;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay semi-transparent pour assombrir le fond */
    display: flex;
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
  }
  
  .modal {
    background-color: #4d2f7f;
    padding: 20px;
    height: 16rem;
    border-radius: 35px;
  }
  
  .modal-content {
    position: relative;
  }
  
  .close {
    position: absolute;
    top: -39px;
    right: -9px;
    cursor: pointer;
    font-size: 20px;
  }
  .Pseudo {
    color: black;
    margin: auto;
    margin-bottom: 10px;
  }

  .form {
    display: flex;
    gap: 10px;
  }

  h6 {
    margin: auto;
  }

  .text__imput {
    background-color: white;
    color: black;
    padding: 8px;
    border-radius: 15px;
    border: none;
    margin: 10px;
  }
  .home__menu {
    margin-top: -80px;
  }

  .title__home {
    font-size: 40px;
    background: #171c20e6;
    padding: 15px;
    text-align: center;
    margin-right: 17rem;
    margin-left: 15rem;
    margin-bottom: 4rem;
    margin-top: 5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.4s ease;
    animation: change-home 3s infinite alternate;
  }
  @keyframes change-home {
    0% {
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }
    50% {
      box-shadow: 8px 8px 80px rgb(17, 18, 101);
    }
    100% {
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    }
  }

  .container {
    display: flex;
    align-items: center;
    gap: 5rem;
    justify-content: center;
  }

  input[type="text" i] {
    background: aliceblue;
    border: 4px solid black;
  }

  input[type="password" i] {
    background: aliceblue;
    border: 4px solid black;
  }

  .settings-button{
    margin-top: 45px;
  }

  .button__home{
    display: inline;
    margin: 5px;
    padding: 15px;
    cursor: pointer;
  }